<nav class="navbar navbar-light bg-faded vs-navbar">
  <a class="navbar-brand" href="#" style="color: black; font-weight: bold;">Allergy Unveiler</a>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" href="#" [routerLink]="['landing']">Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" href="#" [routerLink]="['products']">Products</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" href="#" [routerLink]="['ingredients']">Ingredients</a>
    </li>
    <!-- <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" href="#" [routerLink]="['finder']">Allergy Finder</a>
    </li> -->
  </ul>
</nav>