<div class="container">
  <div class="col-lg-12" style="padding: 20px 0">
    <div class="input-group">
      <input #ingredientSearch type="text" class="form-control" placeholder="Search for ingredient..." (keyup)="getIngredients(ingredientSearch.value)">
      <span class="input-group-btn">
        <button class="btn btn-default vs-clear-search" type="button" (click)="getIngredients();ingredientSearch.value=null;">Clear</button>
      </span>
    </div>
  </div>
  
  <div *ngIf="ingredientSearch.value === '' && crossIngredients.length === 0" class="vs-search-image-container"><img src="../../../assets/bunch_ingredients.png" class="vs-search-image"/></div>
  
  <div class="col-sm-4 vs-ingredients-columns" style="border-right: 2px solid white;">
    <div *ngIf="ingredients">
      <ul class="vs-clear-style" *ngFor="let ingredient of ingredients | async" class="search-result" >
        <li class='vs-search-results'><i class="fa fa-plus vs-plus" aria-hidden="true" (click)="addToIngredientArray(ingredient)"></i>{{ingredient.name}}</li>
      </ul>
    </div>
  </div>
  
  <!-- if nothing has been added but ingredients have been searched-->
  <div class="col-sm-8 vs-search-image-container" *ngIf="ingredientSearch.value != '' && crossIngredients.length === 0">
    <img src="../../../assets/cart.png" class="vs-search-image" style="transform: scale(0.3);"/>
    <h5 class="vs-instructional">Add ingredients from the list to see common products</h5>
  </div>
  
  <!-- crossIngredients columns -->
  <div class="col-sm-4 vs-ingredients-columns" style="">
    <div *ngIf="crossIngredients.length != 0">
      <ul class="vs-clear-style" *ngFor="let crossIngredient of crossIngredients">
        <li class='vs-cross-ingredients-selections'><i class="fa fa-minus vs-minus" aria-hidden="true" (click)="removeIngredient(crossIngredient)"></i>{{crossIngredient.name}}</li>
      </ul>
    </div>
  </div>
  
  <div class="col-sm-4 vs-ingredients-columns" style="border-left: 2px solid white;">
    <div *ngIf="crProducts">
      <ul class="vs-clear-style" *ngFor="let product of crProducts | async" class="search-result" >
        <li class='vs-cross-ingredients-products'>{{product.name}} <br /><span style='font-style: italic; text-align: center; display: block;'>Category: {{product.categories}}</span></li>
      </ul>
    </div>
  </div>
</div>